# Ratio Calculator

Plugins>Ratio Calculator, "Mask Generator", ratioCalc.Mask_Generator("")
Plugins>Ratio Calculator, "3-Channel Mask Generator", ratioCalc.Mask_Generator_Triple("")
Plugins>Ratio Calculator, "Thresholder", ratioCalc.Mask_Generator_Thresh("")
Plugins>Ratio Calculator, "GFP Thresholder", ratioCalc.Mask_Generator_GFP("")
Plugins>Ratio Calculator, "Ratio Calculator", ratioCalc.Ratio_Calculator("")
Plugins>Ratio Calculator, "Ratio Calculator 2", ratioCalc.Ratio_Calculator_2("")
Plugins>Ratio Calculator, "Intensity Calculator", ratioCalc.Intensity_Calculator("")
Plugins>Ratio Calculator, "Intensity Calculator GFP", ratioCalc.Intensity_Calculator_GFP("")
Plugins>Ratio Calculator, "Ratio Analysis", ratioCalc.Ratio_Analysis("")
Plugins>Ratio Calculator, "Intensity Analysis", ratioCalc.Intensity_Analysis("")

Help>About Plugins, "Ratio Calculator...", ratioCalc.About("")
