# Ratio Calculator

Plugins>Ratio Calculator, "Mask Generator", ratioCalc.Mask_Generator("")
Plugins>Ratio Calculator, "4-Channel Mask Generator", ratioCalc.Mask_Generator_Triple("")
Plugins>Ratio Calculator, "-"
Plugins>Ratio Calculator, "Ratio Calculator", ratioCalc.Ratio_Calculator("")
Plugins>Ratio Calculator, "Intensity Calculator", ratioCalc.Intensity_Calculator("")
Plugins>Ratio Calculator, "-"
Plugins>Ratio Calculator, "Ratio Analysis", ratioCalc.Ratio_Analysis("")
Plugins>Ratio Calculator, "Intensity Analysis", ratioCalc.Intensity_Analysis("")
Plugins>Ratio Calculator, "-"
Plugins>Ratio Calculator, "Show ratio table", ratioCalc.Show_Ranks("")
Plugins>Ratio Calculator, "Show configuration", ratioCalc.Show_Config("")
Plugins>Ratio Calculator, "-"
Plugins>Ratio Calculator, "More information", ij.plugin.BrowserLauncher("http://ratios.andlauer.net")

Help>About Plugins, "Ratio Calculator...", ratioCalc.About("")
