# Ratio Calculator

Plugins>Ratio Calculator, "Mask Generator", ratioCalc.Mask_Generator("")
Plugins>Ratio Calculator, "Thresholder", ratioCalc.Mask_Generator_Thresh("")
Plugins>Ratio Calculator, "GFP Thresholder", ratioCalc.Mask_Generator_GFP("")
Plugins>Ratio Calculator, "Ratio Calculator", ratioCalc.Ratio_Calculator("")
Plugins>Ratio Calculator, "Ratio Calculator 2", ratioCalc.Ratio_Calculator_2("")
Plugins>Ratio Calculator, "Ratio Analysis", ratioCalc.Ratio_Analysis("")

#Help>About Plugins, "Ratio Calculator...", ratioCalc.About
